<%- include("../partials/header") %>


	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4"><i class="fas fa-apple-alt"></i> Welcome to Profecient</h1>
		    <p class="lead">A Fantstastically integrated scheduling tool!</p>
		    <hr class="my-4">
		    <p>Get started today by creating your first semester</p>
		    <a class="btn btn-primary btn-lg" href="/newsemester" role="button">Create New Semester</a>


		</div>
	</div>


	  
	<%if(Object.keys(semesters).length){%>
		<h1 class="title indent">
			Semester: <%=semesters[0].name%>
			<a class="btn btn-warning" href="/semester/<%=semesters[0].classes[0]._id%>/update">Edit</a>
			<form style="display: inline;" action="/semester/<%=semesters[0]._id%>/?_method=DELETE" method="POST">
				<button class="btn btn-danger">Delete</button>
			</form>	
				
		</h1>

		<div class="container">
			<div class="row">
				<%semesters[0].classes.forEach(function(o){%>
					<div class="col-md-4 col-sm-12">
						<div class=blocks>
							<div class="className round">
								<h2>
									<button class="dropdown className">
									<i class="fa fa-angle-down"></i>
									<%=o.name%>
									</button> 
								</h2>
								<div class="content round">
									<div class="row details">
										<div class="col">
											<h3 class="instructLoc">Instructor: 
												<span class="blackText">
													<%=o.instructor%>
												</span>
											</h3>
										</div>
										<div class="col">
											<h3 class="instructLoc">Location: 
												<span class="blackText">
													<%=o.location%>
												</span>
											</h3>
										</div>
									</div>

									<div class="row week homePage details">
										<%var ct =0;%>
										<%for(day in o.days){%>
											<%if (ct >3 & ct<11) {%>
												<div class="col-auto">
													<div class="col-md-1 week homePage">
														<%if(o.days[day]){%>
															<span class="dayOfWeek True homePage">
																<h5 class="day">
																	<%=weekDays[ct-4]%>	
																</h5>
															</span>
														<%}else{%>
															<span class="dayOfWeek homePage False">
																<h5 class="day">
																	<%=weekDays[ct-4]%>
																</h5>
															</span>
														<%}%>
													</div>
												</div>
											<%}else if(ct>11){%>
												<%break%>
											<%}%>
											
											<%ct++;%>
										<%}%>
									</div>

									<div class="row details">
										<div class="col">
											<h3 class="instructLoc">From:
												<span class="blackText">
													<%=o.time.startHour%>:<%=o.time.startMinute%> <%=o.time.startAMPM%>
												</span> 
												to
												<span class="blackText">
													<%=o.time.endHour%>:<%=o.time.endMinute%> <%=o.time.endAMPM%>
												</span>  
											</h3>
										</div>
									</div>

									<div class="row details">
										<div class="col-sm-4">
											<a class="btn btn-primary" href="/class/<%=o._id%>">Details</a>
										</div>
										<div id="new-assignment" class="col-sm-4">
											<a class="btn btn-primary" href="/class/<%=o._id%>/Assignment/new">New Assignment</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				<%})%>
			</div>
		</div>
	<%}%>

		
	
	




<script   src="/scripts/home.js" crossorigin="anonymous"></script>

<%- include("../partials/footer") %>