<%- include("../partials/header") %>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="title indent"><%=classData.name%> 
					<a class="btn btn-warning" href="/semester/<%=classData._id%>/update">Edit</a> 
				</h1>
			</div>
		</div>

		<div class="row indent">
			<div class="col-sm-6">
				<h2>Instructor: <%=classData.instructor%> </h2>
			</div>
			<div class="col-sm-6">
				<h2>Location: <%=classData.location%> </h2>
			</div>
		</div>

		<div class="row indent">
			<div class="col">
				<h3>From: 
					<%=classData.time.startHour%>:<%=classData.time.startMinute%> <%=classData.time.startAMPM%> 
					to
					 <%=classData.time.endHour%>:<%=classData.time.endMinute%> <%=classData.time.endAMPM%>  
				</h3>
			</div>
		</div>

		<div class="row week showPage">
				<%var ct =0;%>
				<%for(day in classData.days){%>
					<%if (ct >3 & ct<11) {%>
						<div class="col-auto">
							<div class="col-md-1 week showPage">
								<%if(classData.days[day]){%>
									<span class="dayOfWeek showPage True">
										<h5 class="day">
											<%=weekDays[ct-4]%>	
										</h5>
									</span>
								<%}else{%>
									<span class="dayOfWeek showPage False">
										<h5 class="day">
											<%=weekDays[ct-4]%>	
										</h5>
									</span>
								<%}%>
							</div>
						</div>
					<%}else if(ct>11){%>
						<%break%>
					<%}%>
					
					<%ct++;%>
				<%}%>
			
		</div>

		<div class="row indent">
			<div class="col">
				<h1>Assignments</h1>
			</div>
		</div>

		<div class="row indent">
			<div class="col">
				<h2>Completed</h2>
			</div>
		</div>

		<div class="row indent">
			<div class="col">
				<h2>Due This Week</h2>
			</div>
		</div>
		<div class="row indent">
			<div class="col">
				<h2>Upcomming</h2>
			</div>
		</div>
		
		
		
		
	</div>

	

<%- include("../partials/footer") %>