<%- include("../../partials/header") %>

<div class="home">
	<div class="left-section float-left">
		<div class="week-agenda">
			<h1 id="date"></h1>
			<div class="table-background">
				<div class="row">
					<div class="col-md-auto">
						<div class="th-space">
				      		<span class="day">Sunday</span>
				      		<span class="date"></span>
				      	</div>
					</div>
					<div class="col-md-auto">
						<div class="th-space">
				      		<span class="day">Sunday</span>
				      		<span class="date"></span>
				      	</div>
					</div>
					<div class="col-md-auto">
						<div class="th-space">
				      		<span class="day">Sunday</span>
				      		<span class="date"></span>
				      	</div>
					</div>
					<div class="col-md-auto">
						<div class="th-space">
				      		<span class="day">Sunday</span>
				      		<span class="date"></span>
				      	</div>
					</div>
					<div class="col-md-auto">
						<div class="th-space">
				      		<span class="day">Sunday</span>
				      		<span class="date"></span>
				      	</div>
					</div>
					<div class="col-md-auto">
						<div class="th-space">
				      		<span class="day">Sunday</span>
				      		<span class="date"></span>
				      	</div>
					</div>
					<div class="col-md-auto">
						<div class="th-space">
				      		<span class="day">Sunday</span>
				      		<span class="date"></span>
				      	</div>
					</div>
				</div>
			</div>
		</div>

		<%if(semesters){%>
			<%if(Object.keys(semesters).length){%>
				<div class="semester-title">
					<h1><%=semesters.name%> <span id="edit-semester"><a href="semester/<%=semesters._id%>/update"><i class="fas fa-edit"></i></a></span></h1>
				</div>

				<div class="class-view">
					<div class="row">
						<%semesters.classes.forEach(function(o){%>
							<div class="col-md-4 col-sm-12">
								<div class='blocks round'>
									<div class="className round">
										<h2 class="">
											<button class="dropdown className truncate">
											<i class="fa fa-angle-down"></i>
											<%=o.name%>
											</button> 
										</h2>
										<div class="content round">
											<div class="row week homePage details">
												<%var ct =0;%>
												<%for(day in o.days){%>
													<%if (ct>0 && ct<8) {%>
														<div class="col-auto">
															<div class="col-md-1 week homePage">
																<%if(o.days[day]){%>

																	<span class="dayOfWeek True homePage">
																		<h5 class="day">
																			<%=weekDays[ct-1]%>	
																		</h5>
																	</span>
																<%}else{%>
																	<span class="dayOfWeek homePage False">
																		<h5 class="day">
																			<%=weekDays[ct-1]%>
																		</h5>
																	</span>
																<%}%>
															</div>
														</div>
													<%}else if(ct>11){%>
														<%break%>
													<%}%>
													
													<%ct++;%>
												<%}%>
											</div>
											<div class="row details">
												<div class="col">
													<h3 class="instructLoc">
														<span class="blackText">
															<%=o.time.startHour%>:<%=o.time.startMinute%> <%=o.time.startAMPM%>
														</span> 
														-
														<span class="blackText">
															<%=o.time.endHour%>:<%=o.time.endMinute%> <%=o.time.endAMPM%>
														</span>  
													</h3>
												</div>
											</div>
											<div class="row details">
												<div class="col-sm-4">
													<h3 class="instructLoc hide-overflow">
														<span class="">
															<%=o.instructor%>
														</span>
													</h3>
												</div>
												<div class="col-sm-7">
													<h3 id="location" class="instructLoc hide-overflow">
														<span class="">
															<%=o.location%>
														</span>
													</h3>
												</div>
											</div>



											<div class="row details">
												<div class="col-sm-4">
													<a class="btn btn-primary" href="/class/<%=o._id%>">Details</a>
												</div>
												<div id="new-assignment" class="col-sm-4">
													<a class="btn btn-primary" href="/class/<%=o._id%>/Assignment/new">New Assignment</a>
												</div>
											</div>
										</div> 
									</div>
								</div>
							</div>
						<%})%>
					</div>
				</div>
			<%}%>
		<%}%>
	</div>
		
	<div class="right-section float-right">
		<div class="today">
			<h1>Agenda</h1>
			<hr>
			<h2 class="agenda-date"></>
			<div class="updated-info">
				
			</div>
		</div>
	</div>
</div>

<script   src="/scripts/dashboard.js" crossorigin="anonymous"></script>
<%- include("../../partials/footer") %>