<%- include("../partials/header") %>

<script type="text/javascript">
	$( function() {
    	$( "#dueDate" ).datepicker();
  	});
</script>

<div class="newAssignment">
	<%- include("../partials/flashMessage") %>
	<h1>New Assignment for <span><%=classData.name%></span></h1>

	<form class="needs-validation" action="/class/<%=classData._id%>/Assignment/new" autocomplete="off" method="POST" novalidate>
		<div class="row form-group">
			<label class="col-form-label col-sm-3">Title:</label>
			<div class="col-sm-9">
				<input class="form-control" type="text" name="assignment[name]" required>
				<div class="invalid-feedback">
			 		<i class="fas fa-exclamation-circle"></i>
				</div>
				<div class="valid-feedback">
				 	<i class="fas fa-check"></i>
				</div>
			</div>
			<div class="invalid-feedback">
				 <i class="fas fa-exclamation-circle"></i>
			</div>
			<div class="valid-feedback">
				 <i class="fas fa-check"></i>
			</div>
		</div>
		<div class="row form-group">
			<label class="col-form-label col-sm-3" for="dueDate">Due Date:</label>
			<div class="col-sm-9">
				<input class="form-control inline" id="dueDate" type="text" name="assignment[dueDate]" required>
				<div class="invalid-feedback">
				 	<i class="fas fa-exclamation-circle"></i>
				</div>
				<div class="valid-feedback">
					 <i class="fas fa-check"></i>
				</div>
			</div>
		</div>
		<div class="row form-group">
			<label class="col-form-label col-sm-3">Due Time:</label>
			<div class="col-sm-3 time">
				<input class="form-control" type="number" min="1" max="12" name="assignment[time][hour]">
			</div>
			<!-- <label id="colon" class="col-sm-1 col-form-label">:</label> -->
			<div class="col-sm-3 time">
				<input class="form-control" type="number" min="0" max="60" onchange="if(parseInt(this.value,10)<10 && this.value !== '00')this.value='0'+this.value;" name="assignment[time][minute]">
			</div>
			<div class="col-sm-3 time">
				<select class="form-control" name="assignment[time][AMPM]">
					<option value="AM">AM</option>
					<option value="PM">PM</option>
				</select>
			</div>
		</div>
		<div class="row form-group">
			<label class="col-form-label col-sm-3">Description:</label>
			<div class="col -sm-9">
				<textarea name="assignment[description]" class="form-control"></textarea>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-sm-12">
				<button class="btn btn-primary">Add Assignment</button>
			</div>
		</div>
	</form>
</div>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>

<%- include("../partials/footer") %>