<%- include("../../partials/header") %>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="title indent"><%=classData.name%> 
					<a class="btn btn-warning" href="/semester/<%=classData._id%>/update">Edit</a> 
				</h1>
			</div>
		</div>

		<div class="row indent">
			<div class="col-sm-6">
				<h2>Instructor: <%=classData.instructor%> </h2>
			</div>
			<div class="col-sm-6">
				<h2>Location: <%=classData.location%> </h2>
			</div>
		</div>

		<div class="row indent">
			<div class="col">
				<h3>From: 
					<%=classData.time.startHour%>:<%=classData.time.startMinute%> <%=classData.time.startAMPM%> 
					to
					 <%=classData.time.endHour%>:<%=classData.time.endMinute%> <%=classData.time.endAMPM%>  
				</h3>
			</div>
		</div>

		<div class="row week showPage">
				<%var ct =0;%>
				<%for(day in classData.days){%>
					<%if (ct >3 & ct<11) {%>
						<div class="col-auto">
							<div class="col-md-1 week showPage">
								<%if(classData.days[day]){%>
									<span class="dayOfWeek showPage True">
										<h5 class="day">
											<%=weekDays[ct-4]%>	
										</h5>
									</span>
								<%}else{%>
									<span class="dayOfWeek showPage False">
										<h5 class="day">
											<%=weekDays[ct-4]%>	
										</h5>
									</span>
								<%}%>
							</div>
						</div>
					<%}else if(ct>11){%>
						<%break%>
					<%}%>
					
					<%ct++;%>
				<%}%>
			
		</div>

		<div class="row indent">
			<div class="col">
				<h1>Assignments</h1>
			</div>
			<div class="col">
				<a class="btn btn-primary" href="/class/<%=classData._id%>/Assignment/new">Add Assignment</a>
			</div>
		</div>
		
		<div class="assignment-list">
			<div class="due-over-block">
				<div id="due-over" class="row assignment-list-header">
					<div class="col-sm-4">
						<h5>Overdue</h5>
					</div>
				</div>

				<%classData.assignments.forEach(function(assignment){%>
					<%if(assignment.due.overdue){%>
						<%- include("../../partials/assignments", {assignment: assignment}) %>
					<%}%>
				<%})%>
			</div>
			<div class="due-today-block">
				<div id="due-today" class="row assignment-list-header">
					<div class="col-sm-4">
						<h5>Due Today</h5>
					</div>
				</div>

				<%classData.assignments.forEach(function(assignment){%>
					<%if(assignment.due.today){%>
						<%- include("../../partials/assignments", {assignment: assignment}) %>
					<%}%>
				<%})%>
			</div>
			<div class="due-tomorrow-block">
				<div id="due-tomorrow" class="row assignment-list-header">
					<div class="col-sm-4">
						<h5>Due Tomorrow</h5>
					</div>
				</div>

				<%classData.assignments.forEach(function(assignment){%>
					<%if(assignment.due.tomorrow){%>
						<%- include("../../partials/assignments", {assignment: assignment}) %>
					<%}%>
				<%})%>
			</div>
			<div class="due-this-week-block">
				<div id="due-this-week" class="row assignment-list-header">
					<div class="col-sm-4">
						<h5>Due This Week</h5>
					</div>
				</div>

				<%classData.assignments.forEach(function(assignment){%>
					<%if(assignment.due.thisWeek){%>
						<%- include("../../partials/assignments", {assignment: assignment}) %>
					<%}%>
				<%})%>
			</div>	
			<div class="due-upcomming-block">
				<div id="due-upcomming" class="row assignment-list-header">
					<div class="col-sm-4">
						<h5>Upcomming</h5>
					</div>
				</div>

				<%classData.assignments.forEach(function(assignment){%>
					<%if(assignment.due.upcomming){%>
						<%- include("../../partials/assignments", {assignment: assignment}) %>
					<%}%>
				<%})%>
			</div>	
		</div>
	</div>

<script type="text/javascript" src="/scripts/assignmentOrdering.js"></script>
<%- include("../../partials/footer") %>